@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Lato:300,400|Open+Sans:300,400');

/*******
  hero: #e7d7d7;
  body: #8b3a3a;

********/


body {
	 background: rgba(139,58,58,1);
}

.brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: #003366;
    font-family: 'Cinzel', sans-serif;
    font-size: 2em;
}

.logo {

}





.hero {
    background: rgba(231,215,215,1);
    height: 10vh;
}

.wrapper {
    width: 100%;
