@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Lato:300,400|Open+Sans:300,400');

/*******
  hero: #e7d7d7; | rgba(231,215,215,1);
  body: #8b3a3a; rgba(139,58,58,1);
   
********/


body {
	background: rgba(231,215,215,1);
    background-image: url("../img/logo-pj-32x32-white-bg.svg");

    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.brand {
   

    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2px;
    padding: 5px;



}

.title {
    color: #003366;
    font-family: 'Cinzel', sans-serif;

    margin: 1px 2px;

}

.logo {

}

.bighero {

    height: 400px;
    background-image: url("../img/DSC_0609.JPG");
}



.hero {
   
    width: 100%;


}

.wrapper {
    width: 100%;
}

@media screen and (min-width: 500px) {

    .hero {
        background: rgba(231,215,215,1);
        font-size: 1em;
    }
}
@media