
@import url(https://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

ul {
  list-style: none;
  text-align: center;
  line-height: 10%;
}

ul,li {
  margin:0;
  padding:0;
}

.hero {

  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;



}
.logo {
  background-image: url('../img/logo-pj.svg');
  background-repeat: no-repeat;
}

.brand {
  font-size: 2em;
}

.socialbar {
/*  background: rgba(136,159,183,1);*/
width: 100%;
background-color: #ff997d;
}

.title {
  /*background-color: #889fb7;*/
  color: rgba(0,51,102,0.5);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Cinzel', sans-serif;
  display: block;
}



.wrapper {
  display: 100%;
}
