* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}


.container {
  width: 100%;
}

.contact {
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 5vh;
}

.contact ul {
  list-style-type: none;
}

.contact p {
  font-family: 'Montserrat', sans-serif;
}

.contact i {

    margin: 0 20px;
}

.menubar {
  width: 100%;
  background: rgba(58,98,138,0.7);
  /*border-bottom: thin solid rgba(187,227,249,1);*/
  border-bottom: thin solid rgba(234,246,253,1);
}

.concept {

  background:rgba(58,98,138,0.6);
  color: #d1d1d1;
  height: 25vh;
}

.menuicon {
  color: #fff;
  text-align: right;
  margin: 0 5px;
  padding: 10px;
}

.socialbar {
  background: rgba(58,98,138,0.8);
  font-size: 1.5em;
  color: #fff;


  text-align: center;

}



.logo  {
  text-align: center;
  font-family: 'Cinzel', sans-serif;
  line-height:1.5;
  margin 0 10px;
  height: 25vh;
}

.logo li {
  list-style: none;
}



.logo i {
  margin: 0 10px;
}
